
# Most of the below is the result of Visual Studio, gradle and VSTest.
/**/[Tt]arget/**
/**/[Bb]in/**
/**/[Oo]bj/**
/**/[Oo]utput/**
/**/[Tt]est[Rr]esults/**
/**/[Pp]kg/**
/**/[Pp]ackages/**
/**/[Bb]uild/**
/**/.[Gg]radle/**
/**/[Rr]elease/**
/**/[Dd]ebug/**

# All kinds of output and temporary files that should not be checked in.
/**/*.exe
/**/*.dll
/**/*.o
/**/*.hi
/**/*.class
/**/*.jar
/**/*.war
/**/*.beam
/**/*.trx
/**/*.log
/**/.vs/
/**/*.bak
/**/*.suo
/**/*.user
/**/*.db
/**/*.metaproj
/**/*.metaproj.tmp
/**/*.lock.json
/**/*.pdb
/**/*.jfm
/**/node_modules/**/*
/**/package-lock.json
/**/project.lock.json
output/**
# Generated version files.
pipeline.log
endortemp/
artifacts/
/**/*/__pycache__/**/*
/**/build.log
**/.vs/**/*
/**/*/PipelineAssemblyInfo.cs
/**/*.nupkg
/**/*CordovaApp*/www/**/*
/**/plugins/**/*
/**/TypeScriptHTMLApp/app.js*
/**/*CordovaApp*/plugins/**/*
/**/Python*/lib.zip/**/*
/**/packages/**/*
/**/AppPackages/**/*
/**/dckr_img_meta.json
Drop/**
CoverageReport/

src/Discovery.CloudService/ServiceConfiguration.?*.?*.cscfg